.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@keyframes breathe {

    0%,
    100% {
        transform: scale(1);
        opacity: 0.8;
    }

    50% {
        transform: scale(1.05);
        opacity: 1;
    }
}

.animate-breathe {
    animation: breathe 4s ease-in-out infinite;
}

@keyframes light-sweep {
    0% {
        background-position: -200% center;
    }

    100% {
        background-position: 200% center;
    }
}

.text-sweep {
    background: linear-gradient(90deg,
            rgba(234, 179, 8, 0.6) 0%,
            rgba(234, 179, 8, 0.6) 40%,
            rgb(255, 255, 255) 50%,
            rgba(234, 179, 8, 0.6) 60%,
            rgba(234, 179, 8, 0.6) 100%);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: light-sweep 4s linear infinite;
    display: inline-block;
}